body {
  font-family: arial;
  background: #e5eaee;
}

html, body, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
}
@media (min-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1rem;
}
@media (min-width: 480px) {
  h2 {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 20px;
  }
}

@media (min-width: 480px) {
  p {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  p {
    font-size: 1.0625rem;
  }
}
@media (min-width: 992px) {
  p {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  p {
    font-size: 1rem;
  }
}

.loading-text {
  position: absolute;
  top: 50%;
  z-index: 1000;
  left: 50%;
  font-size: 2.5rem;
  color: #000;
  font-weight: bold;
}

.wrapper {
  z-index: 990;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}
.wrapper .title {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.wrapper .subtitle {
  color: #000000;
  line-height: 40px;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 50px;
}
.wrapper .subtitle::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 45px;
  width: 30%;
  border-top: 2px solid #bbbbbb;
}
.wrapper .fade-in {
  opacity: 0;
  -webkit-transition: opacity 450ms ease-in;
  transition: opacity 450ms ease-in;
}
.wrapper .fade-in.appear {
  opacity: 1;
}
.wrapper #main-nav {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 450px) {
  .wrapper #main-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.wrapper #main-nav ul {
  padding-left: 35px;
}
@media (max-width: 1400px) {
  .wrapper #main-nav ul {
    display: none;
  }
}
.wrapper #main-nav ul li {
  display: inline-block;
  position: relative;
}
.wrapper #main-nav ul a {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.wrapper #main-nav ul a::after {
  content: "";
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  background-color: #000;
  width: 70%;
  left: 15%;
}
.wrapper #main-nav ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.wrapper #main-nav .toggle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.wrapper #main-nav .toggle .line1 {
  -webkit-transform: rotate(45deg) translate(9px, 5px);
          transform: rotate(45deg) translate(9px, 5px);
}
.wrapper #main-nav .toggle .line2 {
  opacity: 0;
}
.wrapper #main-nav .toggle .line3 {
  -webkit-transform: rotate(-45deg) translate(9px, -4px);
          transform: rotate(-45deg) translate(9px, -4px);
}
.wrapper #main-nav #burger {
  margin-left: 55px;
  background-color: trasparent;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  display: none;
}
.wrapper #main-nav #burger div {
  width: 41px;
  height: 5px;
  background-color: #000;
  margin: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
@media (max-width: 1400px) {
  .wrapper #main-nav #burger {
    top: 43px;
    left: 55px;
    display: block;
    margin-right: 10px;
  }
}
@media (max-width: 450px) {
  .wrapper #main-nav #burger {
    margin-left: 20px;
  }
}
.wrapper #main-nav #logo {
  width: 401px;
  height: 86px;
  background: #c3132f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 55px;
}
@media (max-width: 650px) {
  .wrapper #main-nav #logo {
    padding: 0 25px;
    width: 341px;
  }
}
@media (max-width: 500px) {
  .wrapper #main-nav #logo img {
    width: 90%;
  }
}
.wrapper #main-banner {
  width: 100%;
  position: relative;
  height: 700px;
  display: block;
  background: url("./../img/banner.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 100;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
          clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
}
.wrapper #main-banner .banner-overlay {
  position: absolute;
  text-align: center;
  top: 15%;
  width: 700px;
  right: 0;
}
@media (max-width: 768px) {
  .wrapper #main-banner .banner-overlay {
    text-align: center;
    top: 15%;
    width: 100%;
  }
}
.wrapper #main-banner .banner-overlay .banner-title {
  text-transform: uppercase;
  color: #c3132f;
}
.wrapper #main-banner .banner-overlay p {
  letter-spacing: 1px;
  width: 80%;
  line-height: 30px;
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
}
.wrapper #content {
  position: relative;
  top: -100px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(280px, auto));
}
.wrapper #content .calendar-header {
  font-size: 50px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.wrapper #content .calendar-title {
  font-size: 30px;
  color: #c3132f;
  font-weight: bold;
  text-transform: uppercase;
}
.wrapper #content .calendar-subtitle {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}
.wrapper #content .calendar-paragraph {
  margin-top: 10px;
  line-height: 22px;
  color: #000000;
  width: 65%;
}
.wrapper #content .cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper #content {
    top: -180px;
  }
}
@media (max-width: 768px) {
  .wrapper #content {
    top: -20px;
  }
}
.wrapper #content .news {
  height: 360px;
  -ms-grid-column-span: 6;
  grid-column: span 6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper #content .news {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}
@media (max-width: 768px) {
  .wrapper #content .news {
    -ms-grid-column-span: 13;
    grid-column: span 13;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.wrapper #content .news .black {
  background: #000;
}
.wrapper #content .news .news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px;
}
.wrapper #content .news .news-block .small-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #717171;
  font-weight: bold;
  text-transform: uppercase;
}
.wrapper #content .news .news-block .small-header p {
  margin-left: 10px;
}
.wrapper #content .news .news-block h4 {
  color: #c3132f;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.wrapper #content .news .news-block .news-paragraph1 {
  color: #000;
  display: inline-block;
  letter-spacing: 0px;
  line-height: 22px;
}
.wrapper #content .news .news-block .news-paragraph2 {
  color: #fff;
  display: inline-block;
  letter-spacing: 0px;
  line-height: 22px;
}
.wrapper #content .calendar1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  padding: 45px;
}
@media (max-width: 1024px) {
  .wrapper #content .calendar1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}
.wrapper #content .brod1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}
@media (max-width: 1024px) {
  .wrapper #content .brod1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}
.wrapper #content .calendar2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  padding: 45px;
  border-top: 1px solid #fff;
}
@media (max-width: 1024px) {
  .wrapper #content .calendar2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}
.wrapper #content .slika1 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper #content .slika1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
}
@media (max-width: 768px) {
  .wrapper #content .slika1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}
.wrapper #content .slika2 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper #content .slika2 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
  }
}
@media (max-width: 768px) {
  .wrapper #content .slika2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}
.wrapper #content .news-builder {
  height: 280px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  position: relative;
}
.wrapper #content .news-builder .center, .wrapper #content .news-builder #page-overlay .bottom .carousel ul, .wrapper #page-overlay .bottom .carousel #content .news-builder ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper #content .news-builder .center h2, .wrapper #content .news-builder #page-overlay .bottom .carousel ul h2, .wrapper #page-overlay .bottom .carousel #content .news-builder ul h2 {
  padding: 10px;
  width: 20%;
  font-size: 30px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 1024px) {
  .wrapper #content .news-builder {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}
.wrapper #content .news-builder::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.wrapper #content .news-builder::before {
  z-index: -1;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 0% 100%, 0 0%);
          clip-path: polygon(50% 0, 100% 0%, 0% 100%, 0 0%);
}
.wrapper #content .termine {
  height: 280px;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  background: #000;
}
.wrapper #content .termine .center, .wrapper #content .termine #page-overlay .bottom .carousel ul, .wrapper #page-overlay .bottom .carousel #content .termine ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper #content .termine .center h2, .wrapper #content .termine #page-overlay .bottom .carousel ul h2, .wrapper #page-overlay .bottom .carousel #content .termine ul h2 {
  padding: 10px;
  width: 20%;
  font-size: 30px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 1024px) {
  .wrapper #content .termine {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}
.wrapper #on-the-way {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0;
  padding: 150px 0;
}
@media (max-width: 1024px) {
  .wrapper #on-the-way {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper #on-the-way {
    position: relative;
    top: -100px;
  }
}
.wrapper #on-the-way p {
  line-height: 22px;
  color: #727272;
}
.wrapper #on-the-way .row {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, auto);
  grid-gap: 30px;
}
@media (max-width: 1024px) {
  .wrapper #on-the-way .row {
    -ms-grid-columns: auto;
    grid-template-columns: repeat(1, auto);
  }
}
.wrapper #on-the-way .row .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 20px auto;
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
}
.wrapper #on-the-way .row .right {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 20px auto 20px auto;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
}
.wrapper #crew {
  padding: 150px 0;
  width: 100%;
  background-color: #000;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 100px);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 100px);
  position: relative;
  grid-gap: 0;
}
.wrapper #crew #team {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
@media (max-width: 500px) {
  .wrapper #crew #team {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}
@media (min-width: 1120px) and (max-width: 1400px) {
  .wrapper #crew #team .image:nth-child(4n-0) .overlay {
    left: -100%;
  }
}
@media (min-width: 840px) and (max-width: 1120px) {
  .wrapper #crew #team .image:nth-child(3n-0) .overlay {
    left: -100%;
  }
}
@media (min-width: 560px) and (max-width: 840px) {
  .wrapper #crew #team .image:nth-child(2n-0) .overlay {
    left: -100%;
  }
}
@media (max-width: 560px) {
  .wrapper #crew #team .image:nth-child(1n-0) .overlay {
    left: 0%;
  }
}
.wrapper #crew #team .image:nth-child(5n-0) .overlay {
  left: -100%;
}
.wrapper #crew #team img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  width: 100%;
  height: 280px;
  min-height: 50px;
  min-width: 50px;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
.wrapper #crew #team .image {
  position: relative;
}
.wrapper #crew #team .image::after {
  content: "\a";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.wrapper #crew #team .image:hover::after {
  background: transparent;
}
.wrapper #crew #team .image .overlay {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 100%;
  background-color: #e5eaee;
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.wrapper #crew #team .image .overlay .text {
  opacity: 0;
  position: absolute;
  padding: 30px;
  width: 220px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  bottom: 0;
}
.wrapper #crew #team .image .overlay .text h2 {
  line-height: 50px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}
.wrapper #crew #team .image .overlay .text p {
  line-height: 22px;
  color: #000000;
}
.wrapper #crew #team .image:hover .overlay {
  width: 100%;
}
.wrapper #crew #team .image:hover .overlay .text {
  opacity: 1;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.wrapper #crew #crew-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}
.wrapper #crew #crew-nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media (max-width: 500px) {
  .wrapper #crew #crew-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.wrapper #crew #crew-nav ul li {
  padding: 10px 20px;
  position: relative;
}
.wrapper #crew #crew-nav ul li:hover {
  cursor: pointer;
}
.wrapper #crew #crew-nav ul li a.active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.wrapper #crew #crew-nav ul li a {
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  position: relative;
}
.wrapper #crew #crew-nav ul li a::after {
  content: "";
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  background-color: #fff;
  width: 100%;
  left: 0;
}
.wrapper #crew #crew-nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.wrapper #crew h1 {
  color: #fff;
}
.wrapper #crew h2 {
  color: #fff;
}
.wrapper #crew h2::after {
  border-top: 2px solid #fff;
}
.wrapper #page-overlay.active {
  opacity: 1;
}
.wrapper #page-overlay {
  opacity: 0;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  z-index: 1000;
  position: absolute;
  top: 86px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .wrapper #page-overlay {
    max-width: 100%;
  }
}
.wrapper #page-overlay .social-buttons {
  display: none;
  width: 5%;
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 1250px) {
  .wrapper #page-overlay .social-buttons {
    display: block;
  }
}
.wrapper #page-overlay .social-buttons .icons {
  background: #000;
  width: 100px;
  height: 100px;
}
.wrapper #page-overlay .social-buttons .icons img {
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}
.wrapper #page-overlay .align {
  background: #fff;
  width: 95%;
}
@media (max-width: 1250px) {
  .wrapper #page-overlay .align {
    width: 100%;
  }
}
.wrapper #page-overlay .row {
  max-width: 80%;
  background: #fff;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(250px, 1fr) 50px minmax(250px, 1fr);
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, auto);
  grid-gap: 50px;
}
@media (max-width: 1024px) {
  .wrapper #page-overlay .row {
    -ms-grid-columns: auto;
    grid-template-columns: repeat(1, auto);
    padding: 10px;
  }
}
.wrapper #page-overlay .row .page-paragraph {
  line-height: 22px;
  color: #717171;
}
.wrapper #page-overlay .row .left {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: repeat(1, auto);
  grid-gap: 20px;
}
.wrapper #page-overlay .row .left .small-header {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #717171;
  font-weight: bold;
  text-transform: uppercase;
}
.wrapper #page-overlay .row .left .small-header p {
  margin-left: 10px;
}
.wrapper #page-overlay .row .left h1 {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}
.wrapper #page-overlay .row .left h2 {
  text-transform: uppercase;
  line-height: 55px;
  color: #000000;
  font-weight: bold;
}
.wrapper #page-overlay .row .right {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 20px auto;
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
}
.wrapper #page-overlay .bottom {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  background: #e5eaee;
  padding: 30px;
}
.wrapper #page-overlay .bottom .carousel-title {
  padding: 10px 0;
  width: 85%;
  margin: 0 auto;
  letter-spacing: 1px;
  line-height: 22px;
  color: #c3132f;
  font-weight: bold;
  text-transform: uppercase;
}
.wrapper #page-overlay .bottom .carousel {
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.wrapper #page-overlay .bottom .cards {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
@media (max-width: 1024px) {
  .wrapper #page-overlay .bottom .cards {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .wrapper #page-overlay .bottom .cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
}
.wrapper #page-overlay .bottom .cards .card-item {
  width: 100%;
  height: 100%;
}
.wrapper #page-overlay .bottom .cards .card-item .card-text {
  padding: 5px;
}
.wrapper #page-overlay .bottom .cards .card-item .card-text h2 {
  margin: 10px 0;
  letter-spacing: 1px;
  line-height: 22px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 1300px) {
  .wrapper #page-overlay .bottom .cards .card-item .card-text h2 {
    font-size: 1.1rem;
  }
}
.wrapper #page-overlay .bottom .cards .card-item .card-text p {
  line-height: 22px;
  color: #717171;
}
.wrapper #page-overlay .bottom .cards .card-item img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 560px) and (max-width: 1024px) {
  .wrapper #page-overlay .bottom .cards .card-item img {
    height: 200px;
  }
}
.wrapper #page-overlay .bottom .line, .wrapper #page-overlay .bottom .carousel li img, .wrapper #page-overlay .bottom .carousel li, .wrapper #page-overlay .bottom .carousel {
  width: 100%;
}
.wrapper #page-overlay .bottom .flex, .wrapper #page-overlay .bottom .carousel-wrapper, .wrapper #page-overlay .bottom .center, .wrapper #page-overlay .bottom .carousel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper #page-overlay .bottom .center, .wrapper #page-overlay .bottom .carousel ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper #page-overlay .bottom .carousel-wrapper {
  position: relative;
  max-width: 100%;
  margin: 20px 0;
}
.wrapper #page-overlay .bottom .carousel-wrapper input {
  display: none;
}
.wrapper #page-overlay .bottom .carousel {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper #page-overlay .bottom .carousel ul {
  position: relative;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 200%;
  -webkit-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
.wrapper #page-overlay .bottom .nav-dot[for=slide1] {
  left: 49%;
}
.wrapper #page-overlay .bottom #slide1:checked ~ .carousel ul {
  left: 0%;
}
.wrapper #page-overlay .bottom #slide1:checked ~ .nav-dot[for=slide1] {
  opacity: 1;
}
.wrapper #page-overlay .bottom .nav-dot[for=slide2] {
  left: 51%;
}
.wrapper #page-overlay .bottom #slide2:checked ~ .carousel ul {
  left: -100%;
}
.wrapper #page-overlay .bottom #slide2:checked ~ .nav-dot[for=slide2] {
  opacity: 1;
}
.wrapper #page-overlay .bottom .right-arrow, .wrapper #page-overlay .bottom .left-arrow {
  background: rgba(0, 0, 0, 0.28);
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 50px;
  line-height: 50px;
  z-index: 100;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  transform: translate(0, -50%);
  text-align: center;
  width: 50px;
}
.wrapper #page-overlay .bottom .right-arrow:hover, .wrapper #page-overlay .bottom .left-arrow:hover {
  background: rgba(0, 0, 0, 0.78);
}
.wrapper #page-overlay .bottom .left-arrow {
  left: 15px;
}
.wrapper #page-overlay .bottom .right-arrow {
  right: 15px;
}
.wrapper #page-overlay .bottom #slide1:checked ~ .left-arrow[for=slide2], .wrapper #page-overlay .bottom #slide1:checked ~ .right-arrow[for=slide2] {
  display: block;
}
.wrapper #page-overlay .bottom #slide2:checked ~ .left-arrow[for=slide1], .wrapper #page-overlay .bottom #slide2:checked ~ .right-arrow[for=slide1] {
  display: block;
}
.wrapper #page-overlay .bottom #slide3:checked ~ .left-arrow[for=slide2], .wrapper #page-overlay .bottom #slide3:checked ~ .right-arrow[for=slide2] {
  display: block;
}
.wrapper #page-overlay .bottom #slide4:checked ~ .left-arrow[for=slide1], .wrapper #page-overlay .bottom #slide4:checked ~ .right-arrow[for=slide1] {
  display: block;
}
.wrapper #page-overlay .bottom #slide5:checked ~ .left-arrow[for=slide2], .wrapper #page-overlay .bottom #slide5:checked ~ .right-arrow[for=slide2] {
  display: block;
}
.wrapper .carousel {
  width: 100%;
  height: 350px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 124px;
}
@media (max-width: 1024px) {
  .wrapper .carousel {
    margin-top: 10px;
  }
}
.wrapper .carousel .carousel-inner {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.wrapper .carousel .carousel-inner .carousel-open:checked + .carousel-item {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.wrapper .carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}
.wrapper .carousel .carousel-inner .carousel-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .carousel .carousel-inner .carousel-control {
  background: rgba(0, 0, 0, 0.28);
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.wrapper .carousel .carousel-inner .carousel-control:hover {
  background: rgba(0, 0, 0, 0.78);
}
.wrapper .carousel-control.prev {
  left: 0%;
}
.wrapper .carousel-control.next {
  right: 0%;
}
.wrapper .carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
.wrapper #carousel-1:checked ~ .control-1,
.wrapper #carousel-2:checked ~ .control-2,
.wrapper #carousel-3:checked ~ .control-3 {
  display: block;
}
.wrapper .carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.wrapper .carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}
.wrapper .carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.wrapper .carousel-bullet:hover {
  color: #aaaaaa;
}
.wrapper #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
.wrapper #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
.wrapper #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca;
}